# Random Forest

**Random Forest** или Случайный лес - модель, используемая как для регрессии, так и для классификации. Алгоритм основан на другом алгоритме - Decision Tree или Дерево решений, т.е. деревья используются для создания леса. Термин **"случайный"** говорит о том, что каждое дерево построено на основе случайной подвыборки данных.

Для начала разберемся в том, как работает алгоритм Decision Tree.

 ## Подварительная обработка данных

In [403]:
import pandas as pd
from matplotlib import pyplot as plt

In [404]:
df_train = pd.read_csv('data/train_data.csv', header=None, index_col=False)
df_test = pd.read_csv('data/test_data.csv', header=None, index_col=False)

In [405]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       32561 non-null  int64
 1   1       32561 non-null  object
 2   2       32561 non-null  int64
 3   3       32561 non-null  object
 4   4       32561 non-null  int64
 5   5       32561 non-null  object
 6   6       32561 non-null  object
 7   7       32561 non-null  object
 8   8       32561 non-null  object
 9   9       32561 non-null  object
 10  10      32561 non-null  int64
 11  11      32561 non-null  int64
 12  12      32561 non-null  int64
 13  13      32561 non-null  object
 14  14      32561 non-null  int64
dtypes: int64(7), object(8)
memory usage: 3.7+ MB

In [406]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16281 entries, 0 to 16280
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       16281 non-null  int64
 1   1       16281 non-null  object
 2   2       16281 non-null  int64
 3   3       16281 non-null  object
 4   4       16281 non-null  int64
 5   5       16281 non-null  object
 6   6       16281 non-null  object
 7   7       16281 non-null  object
 8   8       16281 non-null  object
 9   9       16281 non-null  object
 10  10      16281 non-null  int64
 11  11      16281 non-null  int64
 12  12      16281 non-null  int64
 13  13      16281 non-null  object
dtypes: int64(6), object(8)
memory usage: 1.7+ MB

In [407]:
df_train.head(8)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,0
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,0
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,1

In [408]:
df_y = df_train.iloc[:, -1]

In [409]:
df_y

0        0
1        0
2        0
3        0
4        0
        ..
32556    0
32557    1
32558    0
32559    0
32560    1
Name: 14, Length: 32561, dtype: int64

In [410]:
df_train = df_train.drop(columns=[14], axis=1)

In [411]:
df_train.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

Посмотрим количество уникальных значений в столбцах

In [412]:
{i:df_train.iloc[:, i].unique().size for i in range(df_train.shape[1])}

{0: 73,
 1: 9,
 2: 21648,
 3: 16,
 4: 16,
 5: 7,
 6: 15,
 7: 6,
 8: 5,
 9: 2,
 10: 119,
 11: 92,
 12: 94,
 13: 42}

Посмотрим, насколько часто встречаются те или иные категории в категориальных столбцах

In [413]:
value_counts = []
categorical_columns = [1, 3, 5, 6, 7, 8, 9, 13]
for i in categorical_columns:
    value_counts.append(df_train.iloc[:, i].value_counts())

In [414]:
value_counts

[ Private             22696
  Self-emp-not-inc     2541
  Local-gov            2093
  ?                    1836
  State-gov            1298
  Self-emp-inc         1116
  Federal-gov           960
  Without-pay            14
  Never-worked            7
 Name: 1, dtype: int64,
  HS-grad         10501
  Some-college     7291
  Bachelors        5355
  Masters          1723
  Assoc-voc        1382
  11th             1175
  Assoc-acdm       1067
  10th              933
  7th-8th           646
  Prof-school       576
  9th               514
  12th              433
  Doctorate         413
  5th-6th           333
  1st-4th           168
  Preschool          51
 Name: 3, dtype: int64,
  Married-civ-spouse       14976
  Never-married            10683
  Divorced                  4443
  Separated                 1025
  Widowed                    993
  Married-spouse-absent      418
  Married-AF-spouse           23
 Name: 5, dtype: int64,
  Prof-specialty       4140
  Craft-repair         4099
  Exec-managerial      4066
  Adm-clerical         3770
  Sales                3650
  Other-service        3295
  Machine-op-inspct    2002
  ?                    1843
  Transport-moving     1597
  Handlers-cleaners    1370
  Farming-fishing       994
  Tech-support          928
  Protective-serv       649
  Priv-house-serv       149
  Armed-Forces            9
 Name: 6, dtype: int64,
  Husband           13193
  Not-in-family      8305
  Own-child          5068
  Unmarried          3446
  Wife               1568
  Other-relative      981
 Name: 7, dtype: int64,
  White                 27816
  Black                  3124
  Asian-Pac-Islander     1039
  Amer-Indian-Eskimo      311
  Other                   271
 Name: 8, dtype: int64,
  Male      21790
  Female    10771
 Name: 9, dtype: int64,
  United-States                 29170
  Mexico                          643
  ?                               583
  Philippines                     198
  Germany                         137
  Canada                          121
  Puerto-Rico                     114
  El-Salvador                     106
  India                           100
  Cuba                             95
  England                          90
  Jamaica                          81
  South                            80
  China                            75
  Italy                            73
  Dominican-Republic               70
  Vietnam                          67
  Guatemala                        64
  Japan                            62
  Poland                           60
  Columbia                         59
  Taiwan                           51
  Haiti                            44
  Iran                             43
  Portugal                         37
  Nicaragua                        34
  Peru                             31
  France                           29
  Greece                           29
  Ecuador                          28
  Ireland                          24
  Hong                             20
  Trinadad&Tobago                  19
  Cambodia                         19
  Thailand                         18
  Laos                             18
  Yugoslavia                       16
  Outlying-US(Guam-USVI-etc)       14
  Honduras                         13
  Hungary                          13
  Scotland                         12
  Holand-Netherlands                1
 Name: 13, dtype: int64]

Заменим страны, экземпляров которых меньше 100 на 'Other'

In [415]:
value_counts[-1].size

42

In [416]:
start_ind = value_counts[-1].size - len([i for i in value_counts[-1] if i < 100])
start_ind

9

In [417]:
country_mask = value_counts[-1].index[start_ind:].tolist()

In [418]:
country_mask

[' Cuba',
 ' England',
 ' Jamaica',
 ' South',
 ' China',
 ' Italy',
 ' Dominican-Republic',
 ' Vietnam',
 ' Guatemala',
 ' Japan',
 ' Poland',
 ' Columbia',
 ' Taiwan',
 ' Haiti',
 ' Iran',
 ' Portugal',
 ' Nicaragua',
 ' Peru',
 ' France',
 ' Greece',
 ' Ecuador',
 ' Ireland',
 ' Hong',
 ' Trinadad&Tobago',
 ' Cambodia',
 ' Thailand',
 ' Laos',
 ' Yugoslavia',
 ' Outlying-US(Guam-USVI-etc)',
 ' Honduras',
 ' Hungary',
 ' Scotland',
 ' Holand-Netherlands']

Объединим тренировочный и тестовый датасеты для применения одинаковых преобразований категориальных данных в числовые признаки с помощью метода Onehot encoding (dummy encoding)

In [419]:
df_all = pd.concat([df_train, df_test], axis=0)

In [420]:
df_all.iloc[:, i] = df_train.iloc[:, i].replace(country_mask, 'Other')

In [421]:
{i:df_all.iloc[:, i].unique().size for i in range(df_train.shape[1])}

{0: 74,
 1: 9,
 2: 28523,
 3: 16,
 4: 16,
 5: 7,
 6: 15,
 7: 6,
 8: 5,
 9: 2,
 10: 123,
 11: 99,
 12: 96,
 13: 10}

In [422]:
df_all_onehot = pd.get_dummies(df_all, columns=categorical_columns, drop_first=True)

In [423]:
df_all_onehot.head()

,0,2,4,10,11,12,1_ Federal-gov,1_ Local-gov,1_ Never-worked,1_ Private,...,9_ Male,13_ Canada,13_ El-Salvador,13_ Germany,13_ India,13_ Mexico,13_ Philippines,13_ Puerto-Rico,13_ United-States,13_Other
0,39,77516,13,2174,0,40,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
1,50,83311,13,0,0,13,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,38,215646,9,0,0,40,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
3,53,234721,7,0,0,40,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
4,28,338409,13,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1

In [424]:
df_train_onehot = df_all_onehot.iloc[:df_train.shape[0], :]

In [425]:
df_train_onehot.shape

(32561, 68)

In [426]:
df_train.shape

(32561, 14)

In [427]:
df_test_onehot = df_all_onehot.iloc[df_train.shape[0]:, :]

In [428]:
df_test_onehot.shape

(16281, 68)

In [429]:
df_test.shape

(16281, 14)

In [430]:
# from sklearn import preprocessing

In [431]:
# df_train_encoded = df_train.apply(preprocessing.LabelEncoder().fit_transform)

In [432]:
# df_train_encoded

## Decision Tree

Деревья решений состоят из двух элементов: узлы и ветви. Сам алгоритм основан на рекурсивном разбиении выборки по признаку, который даёт наибольший прирост информации (Gain), т.е. наилучшим образом разделяет выборку на данный момент. Разбиение будет происходить до тех пор, пока мы не дойдём до листьев - узлов, содержащих только экземпляры одного класса (pure, чистых). Пример дерева решений изображен на рисунке ниже.

<img src="images/decision_tree.svg" width=70%/>

Как видно из рисунка, существует несколько типов узлов:

1. **Корневой узел** &mdash; узел на вершине дерева. Содержит признак, который лучше всего делит данные (единственный признак, который классифицирует целевую переменную наиболее точно). Имеет 2 дочерних узла.
2. **Узел** &mdash; внутренний узел дерева, узел проверки. Каждый такой узел имеет 2 дочерних узла.
3. **Лист** &mdash; конечный узел дерева, узел решения. Не имеет потомков.

Для оценки качества разбиения выборки по признаку используется **энтропия Шеннона**. Энтропия рассматривается как мера неоднородности подмножества по представленным в нем классам. Если классы представлены в равных долях, неопределенность классификации наибольшая, то и энтропия тоже максимальная. Логарифм от единицы будет обращать энтропию в ноль, если все примеры узла относятся к одному классу. Может быть расчитана по следующей формуле:
$$H(T) = -\sum_{i=1}^n p_i log_2 p_i = -\sum_{i=1}^n \frac{N_i}{N} log_2 \left(\frac{N_i}{N}\right),$$
где $T$ - вектор значений целевой переменной (target), $n$ — число классов в исходном подмножестве, $N_i$ — число экземпляров i-го класса в подмножестве, $N$ — общее число экземпляров в подмножестве.

In [433]:
import numpy as np
from collections import Counter

In [434]:
def entropy(t):
    counts = np.bincount(t)
    probability = counts / len(t)
    
    entropy = 0
    for prob in probability:
        if prob > 0:
            entropy += prob * np.log2(prob)
    return -entropy

In [435]:
s = [0, 0, 0, 0, 0, 0, 0, 1, 1, 1]
print(f'Entropy: {np.round(entropy(s), 5)}')

Entropy: 0.88129

На практике, однако, говорят не об энтропии, а о величине, обратной ей, которая называется **Приростом информации (Inforamtion Gain, IG)**. Тогда лучшим атрибутом разбиения будет тот, который обеспечит максимальный прирост информации результирующего узла относительно исходного. 
Прирост информации представляет собой разницу между энтропией исходной выборки и взвешенным средним суммы всех значений энтропии для разделённых подмножеств. Чем выше значение информационного прироста, тем лучше принятое решение. Может быть расчитан по следующей формуле:
$$IG(T, A) = H(T) - H(T|A)$$
$$IG(T, A) = H(T) - \sum_{v \in Values(A)}\frac{|T_{v}|}{|T|}H(T_{v}),$$
где $T$ - вектор значений целевой переменной (target), $A$ - признак, по которому было совершено разбиение, $v$ - каждое уникальное значение признака $A$.

Если объяснить немного по-другому, мы находим энтропию каждого набора после разбиения, взвешиваем ее по количеству элементов в каждом разбиении, затем вычитаем из текущей энтропии. Если результат положительный, значит, мы снизили энтропию при разбиении. Чем выше результат, тем больше мы понизили энтропию.

In [436]:
def information_gain(parent, left, right):
    num_left = len(left) / len(parent)
    num_right = len(right) / len(parent)
    
    gain = entropy(parent) - (num_left * entropy(left) + num_right * entropy(right))
    return gain

In [437]:
parent = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1]
left_child = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1]
right_child = [0, 0, 0, 0, 1, 1, 1, 1]
print(f'Information gain: {np.round(information_gain(parent, left_child, right_child), 5)}')

Information gain: 0.18094

## Реализация Decision Tree на Python
Для реализации необходимы 2 класса:
* Node - реализует один узел дерева решений
* DecisionTree - реализует алгоритм дерева решений

### Класс, реализующий один узел дерева
Класс, необходимый для хранения данных о признаке(feature) и пороговом значении(threshold), по которым производилось разбиение выборки, поддеревья левое(data_left) и правое(data_right), информационном приросте(gain) и значении классификации(value), которое устанавливается только для листовых узлов.

In [438]:
class Node:
    def __init__(self, feature=None, threshold=None, data_left=None, data_right=None, gain=None, value=None):
        self.feature = feature
        self.threshold = threshold
        self.data_left = data_left
        self.data_right = data_right
        self.gain = gain
        self.value = value

### Класс, реализующий дерево решений
Класс содержит следующие методы:
1. Конструктор **\_\_init__**, в котором задаются значения для min_samples_split и max_depth. Это гиперпараметры. Первый используется для указания минимального количества образцов, необходимых для разбиения узла, а второй задает максимальную глубину дерева. Оба параметра используются в рекурсивных функциях в качестве условий выхода.
1. Метод **\_entropy(t)** вычисляет энтропию входного вектора t
1. Метод **\_information_gain(parent, left, right)** вычисляет значение информационного прироста при разделении родительского и двух дочерних векторов.
1. Метод **\_best_split(X, y)** вычисляет наилучшие параметры разбиения для входных признаков X и целевой переменной y. Это делается путем итерации по каждому столбцу в X и по каждому пороговому значению в каждом столбце, чтобы найти оптимальное разбиение с использованием информационного прироста.
1. Метод **\_build(X, y, depth)** рекурсивно строит дерево решений до достижения критериев останова (гиперпараметры в конструкторе).
1. Метод **fit(X, y)** вызывает функцию **\_build()** и сохраняет построенное дерево
1. Метод **\_predict(x)** обходит дерево для классификации одного экземпляра
1. Метод **predict(X)** применяет функцию **\_predict()** к каждому экземпляру в матрице X

In [439]:
class DecisionTree:
    '''
    Класс, реализующий классификатор на основе алгоритма дерева решений
    '''
    def __init__(self, min_samples_split=2, max_depth=5):
        self.min_samples_split = min_samples_split
        self.max_depth = max_depth
        self.max_features = None
        self.root = None
    
    @staticmethod
    def _entropy(t):
        '''
        Вспомогательная функция, вычисляет энтропию массива целочисленных значений
        '''
        counts = np.bincount(np.array(t, dtype=np.int))
        probability = counts / len(t)
    
        entropy = 0
        for prob in probability:
            if prob > 0:
                entropy += prob * np.log2(prob)
        return -entropy
    
    def _information_gain(self, parent, left, right):
        '''
        Вспомогательная функция, вычисляет информационный прирост от родителя и двух узлов-потомков
        '''
        num_left = len(left) / len(parent)
        num_right = len(right) / len(parent)
    
        gain = self._entropy(parent) - (num_left * self._entropy(left) + num_right * self._entropy(right))
        return gain
    
    def _best_split(self, X, y):
        '''
        Вспомогательная функция, вычисляет лучшее разбиение для заданных признаков и меток
        '''
        best_split = {}
        best_info_gain = -1
        # Random Subspace - выбор max_features признаков без возврата из исходной выборки
        new_features = np.random.choice(X.shape[1], self.max_features, replace=False)
        
        # for every feature
        for f_idx in new_features:
            X_curr = X[:, f_idx]
            # for every unuque value of feature
            for threshold in np.unique(X_curr):
                df = np.concatenate((X, y.reshape(1, -1).T), axis=1)
                df_left = np.array([row for row in df if row[f_idx] <= threshold])
                df_right = np.array([row for row in df if row[f_idx] > threshold])
            
                if len(df_left) > 0 and len(df_right) > 0:
                    y = df[:, -1]
                    y_left = df_left[:, -1]
                    y_right = df_right[:, -1]
                
                    gain = self._information_gain(y, y_left, y_right)
                    if gain > best_info_gain:
                        best_split = {
                            'feature_index': f_idx,
                            'threshold': threshold,
                            'df_left': df_left,
                            'df_right': df_right,
                            'gain': gain
                        }
                        best_info_gain = gain
        return best_split
    
    def _build(self, X, y, depth=0):
        '''
        Вспомогательная рекурсивная функция, используется для построения дерева решений по входным данным
        '''
        n_rows, n_cols = X.shape
        
        if n_rows >= self.min_samples_split and depth <= self.max_depth:
            best = self._best_split(X, y)
            if best['gain'] > 0: # impure split
                left = self._build(
                    X=best['df_left'][:, :-1], 
                    y=best['df_left'][:, -1], 
                    depth=depth + 1
                )
                right = self._build(
                    X=best['df_right'][:, :-1], 
                    y=best['df_right'][:, -1], 
                    depth=depth + 1
                )
                return Node(
                    feature=best['feature_index'], 
                    threshold=best['threshold'], 
                    data_left=left, 
                    data_right=right, 
                    gain=best['gain']
                )
        # лист (pure), value - самое часто встречающееся значение в y
        return Node(
            value=int(Counter(y).most_common(1)[0][0])
        )
    
    def fit(self, X, y, max_features=-1):
        '''
        Функция для обучения классификатора дерева решений
        '''
        if max_features == -1: # не использовать Random Subspace при каждом разбиении узла
            self.max_features = X.shape[1]
        elif max_features == 0: # использовать рекомендуемое число признаков для Random Subspace (sqrt(num_of_features))
            self.max_features = int(np.round(np.sqrt(X.shape[1])))
        else: # использовать заданное число признаков для Random Subspace
            self.max_features = int(max_features)
#         print(self.max_features)
        self.root = self._build(X, y)
    
    def _predict(self, x, tree):
        '''
        Вспомогательная рекурсивная функция для предсказания одного значения (обход дерева)
        '''
        # leaf
        if tree.value != None:
            return tree.value
        feature_value = x[tree.feature]
        
        # go left
        if feature_value <= tree.threshold:
            return self._predict(x=x, tree=tree.data_left)
        
        # go right
        if feature_value > tree.threshold:
            return self._predict(x=x, tree=tree.data_right)
        
    def predict(self, X):
        '''
        Функция для предсказания значений меток
        '''
        return np.array([self._predict(x, self.root) for x in X])

## Тестирование

In [440]:
from sklearn.datasets import load_iris

iris = load_iris()

X = iris['data']
y = iris['target']

In [441]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [442]:
model = DecisionTree(min_samples_split=2, max_depth=5)

In [443]:
model.fit(X_train, y_train, max_features=-1)

In [444]:
y_pred = model.predict(X_test)

In [445]:
y_pred

array([1, 0, 2, 1, 1, 0, 1, 2, 1, 1, 2, 0, 0, 0, 0, 1, 2, 1, 1, 2, 0, 2,
       0, 2, 2, 2, 2, 2, 0, 0])

In [446]:
y_test

array([1, 0, 2, 1, 1, 0, 1, 2, 1, 1, 2, 0, 0, 0, 0, 1, 2, 1, 1, 2, 0, 2,
       0, 2, 2, 2, 2, 2, 0, 0])

In [447]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred)

1.0

Сравним построенную модель с классификатором из библиотеки Scikit-Learn DecisionTreeClassifier.

In [448]:
from sklearn.tree import DecisionTreeClassifier

sk_model = DecisionTreeClassifier()
sk_model.fit(X_train, y_train)
sk_y_pred = sk_model.predict(X_test)

accuracy_score(y_test, sk_y_pred)

1.0

### Тестирование на настоящих данных

In [450]:
df_train_onehot.head()

,0,2,4,10,11,12,1_ Federal-gov,1_ Local-gov,1_ Never-worked,1_ Private,...,9_ Male,13_ Canada,13_ El-Salvador,13_ Germany,13_ India,13_ Mexico,13_ Philippines,13_ Puerto-Rico,13_ United-States,13_Other
0,39,77516,13,2174,0,40,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
1,50,83311,13,0,0,13,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,38,215646,9,0,0,40,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
3,53,234721,7,0,0,40,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
4,28,338409,13,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1

In [452]:
X_train_oh, X_test_oh, y_train_oh, y_test_oh = train_test_split(
    df_train_onehot.values,
    df_y.values,
    test_size=0.2,
    random_state=42)

In [454]:
X_train_oh.shape

(26048, 68)

In [455]:
X_test_oh.shape

(6513, 68)

In [465]:
from timeit import default_timer as timer
import datetime

In [462]:
# start = timer()
# # ...
# end = timer()
# print(end - start)

3.35000004270114e-05

In [464]:
model_enc = DecisionTree(min_samples_split=2, max_depth=5)

In [ ]:
# start_time = timer()
# model_enc.fit(X_train_oh, y_train_oh, max_features=-1)
# end_time = timer()

# print(f'Estimated time: {datetime.timedelta(seconds=end_time - start_time)}')

In [220]:
# sk_model_ = DecisionTreeClassifier()
# sk_model_.fit(X_train_enc, y_train_enc)
# sk_y_pred_ = sk_model_.predict(X_test_enc)

# accuracy_score(y_test_enc, sk_y_pred)

### MNIST dataset

In [222]:
df_mnist_train = pd.read_csv('data/mnist_train.csv', index_col=False)
df_mnist_test = pd.read_csv('data/mnist_test.csv', index_col=False)

In [223]:
df_mnist_train.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [250]:
n_of_objects = 500
X = np.array(df_mnist_train.iloc[:n_of_objects, 1:])
y = np.array(df_mnist_train.iloc[:n_of_objects, 0])

In [251]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [252]:
model_mnist = DecisionTree(min_samples_split=2, max_depth=10)

In [253]:
model_mnist.fit(X_train, y_train, max_features=-1)

In [254]:
y_pred = model_mnist.predict(X_test)

In [255]:
y_pred

array([3, 6, 9, 6, 1, 1, 7, 1, 0, 1, 4, 4, 1, 7, 7, 1, 9, 7, 3, 1, 5, 2,
       9, 3, 3, 7, 3, 1, 7, 5, 1, 4, 0, 5, 4, 8, 9, 8, 0, 7, 7, 6, 8, 7,
       8, 1, 9, 5, 8, 9, 1, 6, 9, 2, 7, 5, 4, 6, 9, 1, 0, 0, 7, 2, 7, 6,
       6, 8, 7, 5, 6, 3, 3, 1, 2, 7, 7, 0, 1, 6, 5, 6, 6, 4, 3, 6, 2, 6,
       7, 5, 2, 7, 9, 7, 6, 6, 5, 0, 4, 7])

In [256]:
y_test

array([3, 6, 9, 6, 1, 1, 7, 1, 0, 1, 4, 4, 1, 7, 7, 6, 3, 3, 5, 1, 3, 1,
       9, 3, 2, 4, 7, 1, 7, 9, 1, 4, 0, 5, 4, 8, 9, 1, 0, 0, 7, 6, 8, 7,
       9, 1, 5, 5, 8, 9, 1, 5, 4, 2, 7, 8, 7, 6, 6, 1, 6, 2, 6, 7, 7, 6,
       0, 8, 6, 2, 8, 3, 2, 1, 2, 9, 2, 0, 1, 6, 9, 2, 2, 9, 3, 6, 2, 4,
       8, 5, 2, 2, 9, 7, 6, 2, 3, 0, 4, 7], dtype=int64)

In [257]:
accuracy_score(y_test, y_pred)

0.61

## Random Forest

Алгоритм Случайного леса состоит из трёх компонентов:
$$Random Forest = Decision Tree + Bagging + Random Subspace$$

<img src="images/comparison.png" width=70%/>

## Реализация Random Forest на Python

Класс содержит следующие методы:

1. **\_\_init__()** - конструктор, хранит значения гиперпараметров для количества деревьев в лесе, минимального количества элементовв разбиении дерева и максимальной глубины. В нём также будут храниться индивидуально обученные деревья решений после обучения модели.
1. **\_sample(X, y)** применяет bootstrap-выборку к входным признакам и входной целевой переменной
1. **fit(X, y)** метод для обучения модели классификатора
1. **predict(X)** делает прогнозы с помощью отдельных деревьев решений, а затем применяет мажоритарное голосование для окончательного прогноза

In [112]:
class RandomForest:
    '''
    Класс, реализующий алгоритм Слечайного леса
    '''
    def __init__(self, num_trees=25, min_samples_split=2, max_depth=5):
        self.num_trees = num_trees
        self.min_samples_split = min_samples_split
        self.max_depth = max_depth
        self.max_features = None
        # Храним все построенные деревья
        self.decision_trees = []

    @staticmethod
    def _sample(X, y):
        '''
        Вспомогательная функция для создания bootstrap-выборки
        '''
        n_rows, n_cols = X.shape
        # Sample with replacement
        samples = np.random.choice(a=n_rows, size=n_rows, replace=True)
        return X[samples], y[samples]
    
    def fit(self, X, y, max_features=0):
        '''
        Обучает классификатор Случайный лес
        '''
        # Очистка списка деревьев при повторном запуске обучения
        if len(self.decision_trees) > 0:
            self.decision_trees = []
        self.max_features = max_features
        
        # Построение каждого дерева леса
        num_built = 0
        while num_built < self.num_trees:
            try:
                clf = DecisionTree(
                    min_samples_split=self.min_samples_split,
                    max_depth=self.max_depth
                )
                # Получаем подвыборку
                _X, _y = self._sample(X, y)
                # Обучаем
                clf.fit(_X, _y, self.max_features)
                # Сохраняем классификатор
                self.decision_trees.append(clf)
                num_built += 1
            except Exception as e:
                continue
        
    def predict(self, X):
        '''
        Предсказывает метку класса для новых объектов
        '''
        # Сделать предсказание каждым деревом в лесу
        y = []
        for tree in self.decision_trees:
            y.append(tree.predict(X))
            
        # Решейп для удобства поиска наиболее частого значения (строки, столбцы) == (объекты, решения деревьев)
        y = np.swapaxes(a=y, axis1=0, axis2=1)
        
        # Используем голосование большинством голосов для финального предсказания
        predictions = []
        for preds in y:
            counter = Counter(preds)
            predictions.append(counter.most_common(1)[0][0])
        return np.array(predictions)

In [113]:
X_test.shape

(30, 4)

In [118]:
model = RandomForest(num_trees=25, min_samples_split=2, max_depth=5)
model.fit(X_train, y_train, max_features=-1)
y_preds = model.predict(X_test)

In [119]:
 y_preds

array([1, 0, 2, 1, 1, 0, 1, 2, 1, 1, 2, 0, 0, 0, 0, 1, 2, 1, 1, 2, 0, 2,
       0, 2, 2, 2, 2, 2, 0, 0])

In [116]:
y_test

array([1, 0, 2, 1, 1, 0, 1, 2, 1, 1, 2, 0, 0, 0, 0, 1, 2, 1, 1, 2, 0, 2,
       0, 2, 2, 2, 2, 2, 0, 0])

In [117]:
accuracy_score(y_test, y_preds)

1.0

## Тестирование на реальных данных

In [477]:
rf_model = RandomForest(num_trees=20, min_samples_split=2, max_depth=5)

In [478]:
print(f'Start time: {datetime.datetime.now()}')
start_time = timer()

rf_model.fit(X_train_oh, y_train_oh, max_features=0)

print(f'End time: {datetime.datetime.now()}')
end_time = timer()

print(f'Estimated time: {datetime.timedelta(seconds=end_time - start_time)}')

Start time: 2021-06-10 01:07:44.340947

KeyboardInterrupt:

In [ ]:
y_rf_pred = model.predict(X_test_oh)

In [ ]:
accuracy_score( y_test_oh, y_rf_pred)

## MNIST

In [258]:
n_of_objects_rf = 1000
X_rf = np.array(df_mnist_train.iloc[:n_of_objects_rf, 1:])
y_rf = np.array(df_mnist_train.iloc[:n_of_objects_rf, 0])

In [259]:
X_train_rf, X_test_rf, y_train_rf, y_test_rf = train_test_split(X_rf, y_rf, test_size=0.2, random_state=42)

In [261]:
model_mnist_rf = RandomForest(num_trees=5, min_samples_split=2, max_depth=10)

In [262]:
model_mnist_rf.fit(X_train_rf, y_train_rf, max_features=0)

KeyboardInterrupt:

In [ ]:
y_preds_rf = model.predict(X_test)

In [ ]:
y_preds_rf

In [ ]:
y_test_rf

In [ ]:
accuracy_score(y_test_rf, y_preds_rf)